*{
    margin: 0;
    padding: auto;
    
}
body{
  background-image: 'photo-1484910697931-0c8e7194d937.jpg';
   font-family: 'Poppins';
   overflow: hidden;
  
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 0px;
    float: left;
}

.grid{
    background: transparent;
    backdrop-filter: blur(450px);
    box-shadow: 0 0 30px black;
    border-radius: 20px;
    margin-left: -140px;
    width: 240px;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px auto;
  margin-left: 10%;
  grid-gap: 5px;
}


.details1{
    border-radius: 20px;
    height: 400px;
    width: 250px;
}


.okay
{
  padding-right: 40%;
}
.price{
  float: right;
  font-weight: 200px;
}


.details1:hover{
  background: fixed;
  background-color: aquamarine;
}

.hello{
    padding-left:5%;
    padding-top:5%;

}
.date{
    font-size: larger;
    font-weight: bolder;
}

.city{
    font-size:large;
    font-weight:bold;
}

.more{
   margin-left: 20em;
   padding-top: 3%;
   margin-bottom: 5%;
}
