/* Global styles */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    }
    body {
        background-image:url(photo-1484910697931-0c8e7194d937.jpg)
    }
    
    .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    }
    
    h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2E3440;
    }
    
    h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2E3440;
    }
    
    p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #3B4252;
    }
    
    .current-weather{
   
    
   
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    
    }
    
    .current-weather p {
    color: #2E3440;
    }
    
    .past-weather {
    margin-bottom: 20px;
    }
    
    .weather-box{
        border: 1px solid #D8DEE9;
        background: transparent;
    backdrop-filter: blur(450px);
    box-shadow: 0 0 30px black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    }
    .weather-box:hover{
    
    
    
    background-color:#a09be1;
    cursor: pointer;
    }
    
    .weather-box .weather-date {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2E3440;
    }
    
    .weather-box .weather-details {
    display: flex;
    flex-wrap: wrap;
    }
    
    .weather-box .weather-row {
    flex-basis: 50%;
    padding: 5px;
    }
    
    .weather-box .weather-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #2E3440;
    }
    
    .weather-box .weather-value {
    font-weight: normal;
    color: #3B4252;
    }